section h1 {
    margin: 50px 20px 50px 20px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
  }


  nav{
    position: fixed;
    bottom: 0;
    background-color: blueviolet;
    width: 100vw;
    left: 0;
  }

  .land-container{
    width: 100vw;
    margin: 120px auto;
  }

  .land-container h2{
    font-size: 2.5em;
  }

  .land-container h3{
    font-size: 1.4em;

  }
  .land-container p{
    width: 70vw;
    height: auto;
    font-size: 1.2em;
    margin: 30px auto;
  }


  .airdrop-tagline, .about-tagline {
    width: 90vw;
    margin: 0px auto;
    text-align: center;
    color: aquamarine;
    font-size: 0.95em;
}

.nft{
  width: 65%;
}


.airdrop-container {
  width: 75vw;
}
.airdrop-container p {
  font-size: 0.6em;
}

#about-us-section {
  height: auto;
}

.about-us-container {
  width: 80vw;
}


  footer{
    padding-top: 5px;
  }